{% extends 'base.html' %}

{% block content %}

    <div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<style>
body {
	margin: 0;
	font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
	background: #7FFF00;
}
</style>

{% include 'includes/inc_nav.html' %}

<section class="section-wrap services">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="service-item icon-effect-1 icon-blue icon-effect-1a">
                    <a href="{% url 'my_work:clients' %}">
                        <i class="hi-icon icon icon-Click"></i>
                    </a>
                    <h5 class="text-center">Клиенты</h5>
                    <div class="main-border blue"></div>
                    <p class="text-center">Список клиентов для рассылки</p>
                </div>
            </div> <!-- end service item -->

            <div class="col-sm-3">
                <div class="service-item icon-effect-1 icon-orange icon-effect-1a last">
                    <a href="{% url 'my_work:setting_list' %}">
                        <i class="hi-icon icon icon-Dollars"></i>
                    </a>
                    <h5 class="text-center">Настройки</h5>
                    <div class="main-border orange"></div>
                    <p class="text-center">Настройки рассылок</p>
                </div>
            </div>

             <div class="col-sm-3">
                <div class="service-item icon-effect-1 icon-violet icon-effect-1a">
                    <a href="{% url 'my_work:message_list' %}">
                        <i class="hi-icon icon icon-Umbrella"></i>
                    </a>
                    <h5 class="text-center">Рассылка</h5>
                    <div class="main-border violet"></div>
                    <p class="text-center">Сообщения для рассылок</p>
                </div>
            </div> <!-- end service item -->

            <div class="col-sm-3">
                <div class="service-item icon-effect-1 icon-orange icon-effect-1a last">
                    <a href="#">
                        <i class="hi-icon icon icon-DesktopMonitor"></i>
                    </a>
                    <h5 class="text-center">Логи</h5>
                    <div class="main-border orange"></div>
                    <p class="text-center">Статистика по рассылкам</p>
                </div>
            </div>
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>

{% endblock %}